@media only screen and (max-width: 600px) {
    /* nav responsive */
    nav {
        display: block;
    }
    .nav-left {
        text-align: center;
    }
    .nav-right>ul {
        display: block;
    }
    /* header responsive */
    .header-section {
        margin-top: 0px;
    }
    /* quicklist responsive */
    .quick-list {
        display: grid;
    }
    /* .quicklist-photos {
        display: none;
    } */
    .feature-images-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .quicklist-photos {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .quick-list-title {
        text-align: center;
    }
    .quick-list-text {
        text-align: center;
    }
    .quick-list-button {
        /* background: Red; */
        text-align: center;
    }
    /* feature responsive  */
    .feature-container {
        display: grid;
        gap: 20px;
    }
    .image-section {
        /* width: 300px; */
        height: 337px;
        object-fit: fill;
        /* display: none; */
    }
    .feature-button {
        bottom: 0px;
        left: 0px;
        height: 120px;
        width: 100%;
    }
    .feature-section {
        width: 100%;
    }
    .feature-title {
        width: 100%;
    }
    /* .feature-button {
        display: block
    } */
    /* facts responsive */
    .facts {
        padding-top: 0;
        display: grid;
        gap: 1rem;
    }
    .facts-text {
        text-align: center;
    }
    .facts-title {
        text-align: center;
    }
    .text {
        text-align: center;
    }
    /* clients & sponsor responsive */
    .clients {
        overflow-x: scroll;
        display: flex;
        gap: 1.5rem;
    }
    .logos {
        overflow-x: scroll;
        display: flex;
        gap: 1.5rem;
    }
    .clients>img,
    .logos>img {
        height: 29px;
    }
    /* footer responsive  */
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* comment */
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}