:root {
    --text-sm: 16px;
    --text-md: 20px;
    --text-title: 45px;
    --text-light: #838080;
    --line-height: 26px;
    --primary: #FF900E;
}

* {
    margin: 0;
    font-family: 'Work Sans';
}

section {
    padding-top: 100px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background: Red; */
}

.container-body {
    width: 75%;
    /* background-color: green; */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    background-color: rgba(255, 144, 14, .1);
    height: 100%;
    padding-bottom: 50px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.nav-left {
    font-size: 45px;
    font-weight: bold;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red */
}

.nav-right>ul {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 18px;
    color: #424242;
}

.nav-right>ul>li {
    /* background: #FF900E; */
    border: 1px solid rgba(223, 208, 208, 0);
    padding: 10px;
    position: relative;
    border-radius: 5px;
    transition: background .3s ease;
}

.nav-right>ul>li:hover {
    background: #FF900E;
    border: 1px solid rgb(223, 208, 208);
    padding: 10px;
    position: relative;
    border-radius: 5px;
}

.header-text {
    max-width: 862px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.header-title {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
}

.header-section {
    /* max-width: 862px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.header-sub-texts {
    color: var(--text-light);
    text-align: center;
    font-size: 16px;
    line-height: 26px;
}

button {
    /* text-align: right; */
    font-size: 20px;
    font-weight: bold;
    height: 64px;
    width: 160px;
    background-color: #FF900E;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background .3s ease;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background: #ac6617;
}

.header-image {
    background: url("./images/banner.png") no-repeat;
    background-size: 100% 100%;
    height: 400px;
    width: 100%;
}


/* Quick list secton styles  */

.quick-list {
    /* background: Red; */
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.quicklist-photos {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    /* background: green */
}

.quicklist-texts {
    flex: 1;
    /* background: pink; */
}

.one {
    background: url("./images/team1.png") no-repeat;
}

.two {
    background: url("./images/team2.png") no-repeat;
}

.three {
    background: url("./images/team3.png") no-repeat;
}

.four {
    background: url("./images/team4.png") no-repeat;
}

.feature-images {
    background-size: 100% 100%;
    height: 342px;
    width: 342px;
}

.feature-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


/* feature section style  */

.feature-container {
    /* background: green; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
    gap: 6rem;
}

.feature-section,
.image-section {
    /* flex: 1; */
}

.feature-section {
    width: 60%;
}

.feature-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-section {
    background: url("./images/architect.png") no-repeat;
    background-size: 100% 100%;
    height: 982px;
    width: 100%;
    position: relative;
    padding-left: -4rem;
    padding-bottom: -4rem;
    /* background: green; */
}

.feature-button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 25px;
    height: 200px;
    width: 342px;
    background-color: #FF900E;
    border: none;
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: -4rem;
    left: -4rem;
}

.feature-button span {
    font-size: 65px;
}

.feature-title {
    border-left: 5px solid #FF900E;
    font-size: var(--text-title);
    font-weight: bold;
}

.feature-title>span {
    padding: 15px;
}

.feature-text {
    font-size: var(--text-sm);
    line-height: var(--line-height);
    color: var(--text-light);
}

.feature-card {
    border-radius: 5px;
    background: white;
    padding: 30px;
    line-height: var(--line-height);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.feature-card>.card-title {
    font-size: var(--text-md);
    font-weight: bold;
    line-height: 40px;
}

.description {
    color: var(--text-light);
    font-weight: var(--text-sm);
}


/* facts styles  */

.facts-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
}

.facts-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.facts-title {
    font-size: var(--text-title);
    font-weight: bold;
}

.facts-text {
    font-size: var(--text-sm);
    line-height: var(--line-height);
    color: var(--text-light);
}

.facts {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    padding: 15px;
    width: 241px;
}

.section-header {
    font-size: var(--text-title);
    font-weight: 800;
    line-height: 35.19px;
}

.section-text {
    font-size: var(--text-md);
    color: var(--text-light);
    font-weight: bold;
    line-height: 29.33px;
}


/* Sponsor section styles */

.sponsor-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
}

.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.title {
    font-size: var(--text-title);
    font-weight: bold;
}

.text {
    font-size: var(--text-sm);
    color: var(--text-light);
    display: flex;
    align-items: center;
    line-height: 13px;
    flex-direction: column;
}

.logos::-webkit-scrollbar {
    display: none;
}

.logos {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.logos>img {
    height: 30px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}